// Text
header-color = #f24730
subtle-text-color = #888
link-color = #000
link-hover-color = #BB3711

// Backgrounds
code-background-color = rgba(#fdfdfd, 0.5)

// Borders
subtle-border-color = #ccc
focused-border-color = black
