// Text
header-color = #925203
subtle-text-color = #888
link-color = #000
link-hover-color = #BB3711

// Backgrounds
code-background-color = rgba(#fdfdfd, 0.5)
slide-background-color = lighten(desaturate(header-color, 60%), 30%)

// Borders
subtle-border-color = #ccc
focused-border-color = black

heading-font = 'Oleo Script', cursive
body-font = 'Rosario', sans-serif
