<h2 class="text-center">
  Go look at the <a href="http://github.com/mutewinter/less_is_more">code on
    GitHub</a> for this presentation.
</h2>
<h2>
  Special thanks to:
</h2>
<ul>
  <li><a href="http://en.wikipedia.org/wiki/Jeremy_Ashkenas">Jeremy Ashkenas
    </a> for making CoffeeScript</li>
  <li><a href="http://codemirror.net/">CodeMirror</a> for making the code editing
    and possible
  </li>
  <li>The <a href="http://emberjs.com/">Ember.js</a> team for making building
    this presentation effortless
  </li>
</ul>
<h2>
  You might also like <a href="http://mutewinter.github.com/why_ember">Why
    Ember?</a>, a presentation I made about Ember.js</a>
</h2>
