<ul>
  <li><a href="http://en.wikipedia.org/wiki/Jeremy_Ashkenas">Jeremy Ashkenas
    </a> for making CoffeeScript</li>
  <li><a href="http://codemirror.net/">CodeMirror</a> for making the code editing
    and possible
  </li>
  <li>The <a href="http://emberjs.com/">Ember.js</a> team for making building
    this presentation effortless
  </li>
</ul>
