<ul>
  <li>Most JavaScript symbols are optional or obsolete</li>
  <li>Semicolons are automatic</li>
  <li>Commas in lists are optional</li>
  <li>Parenthesis are optional for method calls with arguments</li>
  <li>Curly braces are optional for objects and functions</li>
</ul>
