<h2 class="text-center">
  No more that, _this, self.
</h2>
{{#code}}
$('.slide h1').off('click')

class ClickMaster5000
  message: 'You clicked the crap out of that title.'

  constructor: ->
    $('.slide h1').on 'click', (e) ->
      unless @message
        log 'Change that click handler to a fat arrow =>'
      $(e.target).text(@message)

new ClickMaster5000
{{/code}}
