<ul>
  <li>The code samples in this presentation are interactive</li>
  <li>Try editing the code below and see how it affects the page.</li>
</ul>

{{#code hasExampleView=false}}
# Change Slide Background Color to Blue
$('.slide-container').css('background-color': 'rgba(0,50,100,0.25)')
# Change Heading Color to Dark Blue
$('.slide h1').css(color: 'darkBlue')
# Change Link Style
$('.slide li a').css
    'border-bottom-style': 'double'
    'border-bottom-width': '4px'
    'border-bottom-color': '#1975E9'
{{/code}}

{{#view App.NotesView}}
  <p>
    If you don't mess with the code samples you defeat the purprose of this
    presentation. It's okay, touch it. That's what she said.
  </p>
{{/view}}
