<ul>
  <li>The code samples in this presentation are interactive</li>
  <li>Try editing the code below and see how it affects the page.</li>
</ul>

{{#code hasExampleView=false}}
'Change Slide Background Color to Canary Yellow'
$('.slide-container').css('background-color': 'rgba(255,255, 51,0.2)')

'Change Heading Color to Dark Yellow'
$('.slide h1').css(color: '#666600')

'Change Header Background and Border to Match'
$('.slide h1').css
    'background-color': 'rgba(226, 235, 16, 0.5)'
    'border-color': '#666600'
    'border-bottom-width': '5px'
{{/code}}

{{#view App.NotesView}}
  <p>
    If you don't mess with the code samples you defeat the purprose of this
    presentation. It's okay, touch it. That's what she said.
  </p>
{{/view}}
