<h2 class="text-center">
  It's as nice trick.
</h2>
{{#code}}
[one, two] = [1, 2]

log one, two

"Don't try this at home."
{nested: inside: really: far, wow} =
  nested:
    inside:
      really:
        far: 'Whew'
      wow:
        another: 'Whew'

log far
log wow
{{/code}}
