<ul>
  <li>I'm going too slow?</li>
  <li>Didn't catch that?</li>
  <li>Want to play with the code?</li>
  <li>Open <a
    href="http://mutewinter.github.com/less_is_more">http://mutewinter.github.com/less_is_more</a>
  and follow along</li>
  <li><a href="http://git.io/qU-AXA">http://git.io/qU-AXA</a> for short</li>
</ul>

{{#view App.NotesView}}
  <p>
    How meta. This only really applies when I'm presenting this presentation to
    you in person. Otherwise you're already on this page. Reading this text.
    In your web browser. Hello. You've got too many extensions. Look at all
    those I mean, I'm not trying to judge, but wow. Do you really need a
    dedicated button to share on Digg?
  </p>
{{/view}}
