<h2 class="text-center">
  Write sentences instead of syntax.
</h2>
{{#code}}
'Functions without arguments'
ourHero = -> 'Mr. Bond'

'Function with arguments'
greet = (person) -> "Hello #{person}"

'Single line functions'
evilGreeting = (enemy) -> "#{greet enemy}, time to die."

log evilGreeting ourHero()
{{/code}}
