<h2 class="text-center">
  No more counter-based loops.
</h2>
{{#code}}
'Loop over arrays'
gardenHoses = ['Shiny Green', 'Matte Black', 'Flakey Pink']

for hose in gardenHoses
  log 'The Best' if hose is 'Shiny Green'

'Loop over objects'
pcManufacturers = {
  dell: 'Below Average'
  hp: 'Below Average'
  lenovo: 'Below Average'
  alienWare: 'Below Average'
}

for key, value of pcManufacturers
  log "#{key} is #{value}"

'Implicit return'
x = for key, value of pcManufacturers
  key

log "#{x.join(', ')} make computers"
{{/code}}
