<h2 class="text-center">
  Create and slice arrays with O(N) less code.
</h2>
{{#code}}
'Just like Ruby'
numbers = [0..10]

'Exclude the end'
allTheNumbers = [0...4]

'Slicing'
log numbers[3..6]
'Implicit start'
log numbers[..3]
'Implicit end'
log numbers[8..]

'Assignment'
numbers[3..6] = [400..403]
log numbers

'With Variables'
x = 3
log [0..x]
{{/code}}
