<h2 class="text-center">
  Much easier to read and update
</h2>
{{#code}}
'Simple'
wow =
  so: 'you'
  can: 'just'
  type: 'stuff'


'Nest as deep as you like'
evenBetter =
  works: 'with'
  reserved: 'words'
  class: 'boom'
  nesting:
    is: 'also'
    cool: 'bro'
    even: 'with'
    arrays: [
      'holy'
      'moley'
    ]

'Easy object arrays'
array1 = [
  {first: 'object', withAKey: 'key'}
  {second: 'object', withAKey: 'key'}
  {third: 'object', withAKey: 'key'}
]

'or'

array2 = [
  first: 'object', withAKey: 'key'
,
  second: 'object', withAKey: 'key'
,
  third: 'object', withAKey: 'key'
]

log _.isEqual array1, array2
{{/code}}
