<h2 class="text-center">
  Read code from left to right.
</h2>
{{#code}}
wearingPants = false
dirty = true
haveMeatballSub = true
itsThursday = true
drunk = false

stayInside = -> log "Pants take a lot of work."
goOutside = -> log "I finally put on pants, thank god."
takeBath = ->
  log "The mess will just wash down the drain."
  dirty = false
getMaDrinkOn = ->
  log "Holy crap, it's THURSDAY"
  drunk = true
hitOnNeighbor = -> log "I bet she's bored too."

stayInside() if not wearingPants

goOutside() unless haveMeatballSub

takeBath() if not wearingPants and haveMeatballSub

getMaDrinkOn() if itsThursday

hitOnNeighbor() if not wearingPants and drunk
{{/code}}
