<h2 class="text-center">
  “A little language that compiles into JavaScript”
</h2>

<ul>
  <li><em>Readable</em> JavaScript</li>
  <li>Compiled output passes JavaScript Lint</li>
  <li>Enforces JavaScript best practicies</li>
  <li>Created by <a href="https://twitter.com/jashkenas">Jeremy Ashkenas</a>
  </li>
</ul>

{{#view App.NotesView}}
  <p>
    The compilation process for CoffeeScript is a huge boon to development.
    By passing your code through a compiler you can ensure that there aren't
    any syntax errors before it ever hits the browser.
  </p>
{{/view}}
