<h2 class="text-center">
  “A little language that compiles into JavaScript”
</h2>

<ul>
  <li>An All-Inclusive JavaScript MVC Framework</li>
  <li>3,266 Lines of CoffeeScript</li>
  <li>3,580 Lines of Tests</li>
  <li>39 Code Samples on <a
    href="http://coffeescript.org/">CoffeeScript.org</a></li>
  <li>Latest Version 1.4.0</li>
  <li>Created by <a href="https://twitter.com/jashkenas">Jeremy Ashkenas</a>
  </li>
</ul>

{{#view App.NotesView}}
  <p>
    CoffeeScript is written in CoffeeScript dude. Like, woah.
  </p>
{{/view}}
